.content_div {
    background-color: #2b313b;
    border-left: 0px;
}

.statistics_div {
    border: 1px solid #252932;
    margin-top: 12px;
    height: 160px;
    background-color: #2F3541;
    min-width: 591px;
}
.statistics_min_width {
    min-width: 600px;
}

.statistics_type_div {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
.statistics_type_img {
    margin-left: 10px;
}

.statistics_type_text {
    margin-left: 8px;
    margin-top: 10px;
    font-size: 20px;
    font-weight:bold;
    color: white
}
.statistics_hr_div {
    float: left;
    margin-left: 10px;
}

.statistics_hr{
    height: 120px;
    width: 1px;
    border-top: 0px;
    margin-left: 10px;
}
.transcoder_div {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 16px;
    color: white;
}
.transcoder_img {
    margin-left: 16px;
    margin-bottom: 5px;
}
.statistics_type_title {
    font-size: 15px;
    color: white;
    margin-left: 25px;
    margin-top: 15px;
    float: left;
    color: #B6B6B6;
    height: 100%;
}
.statistics_type_title span {
    font-size: 20px;
    color: #CECFD2;
}
.statistics_type_more {
    float: right;
    margin-top: 8px;
    margin-right: 15px;
}

.statistics_type_count {
    margin-top: 10px;
    margin-left: 30px;
    height: 40px;
}
.statistics_count_nomal {
    font-size: 40px;
    font-weight: bold;
    color: #43CFFB;
    float: left;
    margin-left: 30px;
}

.statistics_count_over {
    font-size: 40px;
    font-weight: bold;
    color: #5E5E61;
    float: left;
    margin-left: 120px;
}

.statistics_count_alarm {
    font-size: 40px;
    font-weight: bold;
    color: #F45655;
    float: left;
    margin-left: 120px;
}
.statistics_count_nomal_text {
    margin-left: 20px;
    float: left;
}
.statistics_count_over_text {
    margin-left: 54px;
    float: left;
}
.statistics_count_alarm_text {
    margin-left: 54px;
    float: left;
}

.statistics_alarm_hr{
    height: 160px;
    width: 1px;
    border-top: 0px;
    margin-left: 10px;
}
.statistics_alarm_div {
    border: 1px solid #252932;
    margin-top: 12px;
    height: 200px;
    background-color: #2F3541;
}

.statistics_type_alarm_div {
    float: left;
    margin-top: 40px;
    margin-left: 15px;
}

.statistics_alarm_text_div {
    float: left;
    margin-top: 40px;
    margin-left: 23px;
    font-size: 16px;
    color: white;
    width: 17%;
}
.statistics_alarm_text_div span {
    float: right;
    margin-right: 70px;
}
.statistics_alarm_time_div {
    margin-top: 30px;
    color: #B6B6B6;
    font-size: 14px;
}
.statistics_alarm_content_div {
    color: #B6B6B6;
    font-size: 14px;
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}