<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<footer th:fragment="footer">
	  <div class="container-fluid">
	    <div class="row">
	      <div class="col-sm-12">
	        <a href="http://www.arcvideo.com.cn/"><img class="center-block img-responsive" th:src="@{/images/Arcvideo_logo.png}" alt="www.arcvideo.com.cn" /></a>
	        <p class="text-center">Copyright &copy; 2016 <a href="http://www.arcvideo.com.cn/">ArcVideo</a> Inc. 版权所有。</p>
	      </div>
	    </div>
	  </div>
	</footer>
</body>
</html>
