<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title th:text="#{product.title}">Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/metisMenu/metisMenu.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-sb-admin-2/css/sb-admin-2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/js/bootstrap-sb-admin-2/js/sb-admin-2.js}"></script>
    <script th:src="@{/js/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond/respond.min.js}"></script>
    <script>

    </script>
    <style>
        html, body {
            height: 100%;
            margin: 0px;
        }
    </style>
</head>
<body>
<div class="login_background">
    <div style="width: 418px; height: 330px; margin: 0 auto; position: relative; top: 150px;">
        <div style="margin-bottom: 40px;">
            <img src="/images/login_logo.png">
        </div>
        <div style="background-color: white; border-radius: 3px 3px 3px 3px;">
            <div style="text-align: left; margin-left: 50px; padding-top: 30px; font-size: 16px; font-weight:bold;">
                账号登录
            </div>
            <div style="margin-left: 37px; margin-right: 37px; margin-top: 10px;">
                <hr style="background: #bfbfbf;border: none;height: 1px;">
            </div>
            <form role="form" th:action="@{/login-process.html}" method="POST">
                <fieldset>
                    <div class="username_input">
                        <img src="/images/accounticon.png">
                        <input placeholder="用户名" style="width: 250px;"
                               name="username" type="username" autofocus="autofocus"/>
                    </div>
                    <div class="password_input">
                        <img src="/images/password.png">
                        <input placeholder="密码" style="width: 250px;" name="password" type="password"/>
                    </div>
                    <span style="color: red;font-size: small;" th:if="${param.error}">用户名或密码错误,请重新输入</span>
                    <div class="submit-div">
                        <button type="submit" class="btn btn-lg btn-block" style="color: white;">登录</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>



    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4 col-md-offset-4">-->
                <!--<div class="login-panel panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title" th:text="#{login.login}">Sign In</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<form role="form" th:action="@{/login-process.html}" method="POST">-->
                            <!--<fieldset>-->
                                <!--<div class="form-group">-->
                                    <!--<input class="form-control" placeholder="User" th:placeholder="#{login.username}"-->
                                           <!--name="username" type="username" autofocus="autofocus"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input class="form-control" placeholder="Password" th:placeholder="#{login.password}"-->
                                           <!--name="password" type="password" value=""/>-->
                                <!--</div>-->
                                <!--<div class="form-actions">-->
                                    <!--<button type="submit" th:text="#{login.login}" class="btn btn-lg btn-success btn-block">-->
                                        <!--Login-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</fieldset>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>